nav {
  background: #585858;
  display: flex;
  justify-content: center;
}
nav .wrapper {
  padding: 10px 10px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

nav .wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

nav .wrapper a.logo {
  font-weight: bold;
  font-size: 20px;
  padding-top: 0.5rem;
}
nav .wrapper .button {
  background-color: transparent;
  border: 2px solid #fe5c5a;
  padding: 10px;
  border-radius: 1rem;
  font-weight: bold;
}
nav .wrapper .button:hover {
  background-color: #fe5c5a;
  color: #fff;
}
